:root {
	--linear-gradient-900: linear-gradient(90deg, #1e1e21 0%, #0b071a 62%, #110535 100%);
	--linear-gradient-100: linear-gradient(90deg, #F4E8E7 100%, #F4EFC6 100%);

	--white-100: #F0F0F0;
	--black-700: #202020;

	--blue-100: #69B6FA;
	--blue-200: #0088FF;

	--grey: #989898;

	--transparent-100: rgba(254, 254, 254, 0.19);
	--transparent-200: rgba(54, 51, 51, 0.19);
}