@import "./colors.css";

:root {
  --background: var(--linear-gradient-100);
  --foreground: var(--black-700);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--linear-gradient-900);
    --foreground: var(--white-100);
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Sora', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
